server:
  port: 8070

# JWT 설정
jwt:
  # 비밀키(최소 64자 이상)
  secret: ${JWT_SECRET:mySecretKeyForJWTTokenGenerationThisKeyMustBeLongAndVeryStrongHS512Algorithm}
  access-token-expiration: ${JWT_ACCESS_TOKEN_EXPIRATION:600000} # access token 만료시간(60분 * 60초 * millisec.)
  refresh-token-expiration: ${JWT_REFRESH_TOKEN_EXPIRATION:604800000} # refresh token 만료시간 (7일)

oauth:
  kakao:
    provider_name: KAKAO
    client-id: ${KAKAO_CLIENT_ID:104c0983592d86948311227bfd9c57c0}   # 카카오 REST API KEY
    client-secret: ${KAKAO_CLIENT_SECRET:HQ4Fr5saQGEDANTSFB4pOndELAeGCJdL}             # 카카오 Client Secret Key
    redirect-uri: ${KAKAO_REDIRECT_URI:http://localhost:8070/api/oauth/kakao/callback}   # 카카오 인증 후 백엔드에 redirect 되어진 URL

    authorization-uri: https://kauth.kakao.com/oauth/authorize # 카카오 인가 코드 요청 URL
    token-uri: https://kauth.kakao.com/oauth/token             # 카카오 억세스 토큰 요청 URL
    user-info-uri: https://kapi.kakao.com/v2/user/me           # 카카오 사용자 정보 조회 URL


# log file write
logging:
  file:
    name: logs/authapp.log
  level:
    root: INFO
    com.example.auth: DEBUG
    org.springframework.security: DEBUG   # filter chain debugging(필터 체인들을 보여줌)
    org.springframework.security.web.DefaultSecurityFilterChain: DEBUG
  logback:
    rollingpolicy:
      max-file-size: 10MB
      max-history: 30


spring:
  application:
    name: auth

  datasource:
    #    url: jdbc:mysql://localhost:3306/seok?useSSL=false&serverTimezone=Asia/Seoul&allowPublicKeyRetrieval=true
    #    username: root
    #    password: 1234
    url: ${DB_URL:jdbc:mysql://mysql-8:3306/seok?useSSL=false&serverTimezone=Asia/Seoul&allowPublicKeyRetrieval=true}
    username: ${DB_USER:root}
    password: ${DB_PASSWORD:mj38327348!}
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa: # ORM
    hibernate:
      ddl-auto: none # create(항상 새롭게 테이블 생성), update(테이블 업데이트), validate(엔티티와 테이블구조 일치하는지 검증)...
    show-sql: true  # sql문장이 잘 가는지 디버깅 용도
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
        format_sql: true
        jdbc:
          time_zone: Asia/Seoul


# 파일 저장 경로 설정
file:
  upload:
    dir: ${FILE_UPLOAD_DIR:./uploads}
    base-url: ${FILE_UPLOAD_BASE_URL:http://localhost:8070/uploads}